/* RESET */
body {
  margin: 0;
}

/* PAGE */
.page {
  width: 100%;
}


/* CONTAINER */
.container {
  width: 100%;
  background-image: url("../../assets/fundo.png");
  background-size: cover;
  background-position: center; 
  min-height: 100vh;
}

/* HEADER */
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  background: linear-gradient(135deg, #1E40AF,#374151);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
}

.header h1 {
  margin: 0;
  font-size: 22px;
  color: white;
  font-size: 28px;
}

/* CARD CENTRALIZADO */
.card {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  font-family: "roboto";
  margin-top: 8%;
}

.card h2 {
  margin-bottom: 20px;
}

/* FORM */
.content {
  display: block;
}

.form {
  width: 100%;
}

/* LINHA DE INPUTS */
.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
}

/* INPUTS */
label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  color: #374151;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

/* FOTO */
.foto-section {
  margin-bottom: 20px;
}

.foto-box {
  margin: 20px auto;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: 2px dashed #cbd5e1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.foto-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto-box span {
  color: #6b7280;
}

.foto-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* BOTÕES */
.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #1E40AF, #3B82F6);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.home-btn {
  background: linear-gradient(135deg, #3B82F6, #1E40AF);
  color: #E0F2FE;
  border: none;     
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto';
}

/* overlay escuro por cima da imagem e atrás do conteúdo,
porque legibilidade ainda importa nesse planeta */
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5); /* pode ajustar: 0.35 mais claro / 0.60 mais escuro */
  z-index: 0;
}

/* garante que todo conteúdo fique acima do overlay */
.container > * {
  position: relative;
  z-index: 1;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .card {
    margin: 20px;
    padding: 20px;
  }

  .form-row {
    flex-direction: column;
  }
}