* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: transparent;
  padding: 0;
}


/* FUNDO */
.admin-container {
  position: fixed;
  height: 100%;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/fundo.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

/* ESCURECER */
.overlay {
  position: absolute;
  width: 100%;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

/* HEADER */
.admin-header {
  position: relative;
  z-index: 2;
  background: linear-gradient(135deg, #1E40AF, #3B82F6);;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  font-family: 'Roboto';
}

.admin-header nav button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  background: #1e3a8a;
  color: white;
  cursor: pointer;
}

.admin-header .admin {
  background: #e0f2fe;
  color: black;
}

/* GRID */
.admin-content {
  flex: 1;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; /* menor espaço */
  padding: 50px; /* menos exagero */
  justify-items: center;
}

/* CARD */
.admin-card {
  background: white;
  border: 10px solid #1e3a8a; /* menos grossa */
  padding: 20px;
  width: 260px; /* antes 320 */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* IMG */
.admin-card img {
  width: 100%;
  height: 130px; /* menor */
  object-fit: contain;
}
/* ICON */
.icon {
  font-size: 130px; /* igual altura da imagem */
  margin-bottom: 10px;
}

/* TITULO */
.admin-card h3 {
  margin: 15px 0;
}

/* BOTÃO */
.admin-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #1E40AF, #3B82F6);;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.admin-card button:hover {
  transform: scale(1.05);
}

.botao{
  background: linear-gradient(135deg, #1E40AF, #3B82F6);
}

