.conteudo {
  display: flex;
  height: calc(100vh - 60px); /* ocupa a tela tirando o header */
}

/* FUNDO */
.imagemFundo{
  width: 100%;
  background-image: url("../../assets/fundo.png");
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  min-height: 100vh;
}

/* HEADER */
.header{
  position: relative;
  z-index: 2;
  width: 100%;
  background: linear-gradient(135deg, #1E40AF,#374151);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEXTOS */
.tituloLinha {
  margin-bottom: 0.9%;
  color: #1E40AF;
  font-family: 'Roboto';
}

.titulinho {
  margin-bottom: 0.9%;
  color: #ffffff;
  font-family: 'Roboto';
}

/* BOTÃO */
.button {
  background: linear-gradient(135deg, #3B82F6, #1E40AF);
  color: #E0F2FE;
  border: none;     
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto';
}   

.ladoesquerdo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.barraLateral{
  width: 90%;
  background: #F3F4F6;
  padding: 15px;
  margin: 20px 0;
  overflow-y: auto;
  font-family: 'roboto';
  font-size: 15px;
  border-radius: 10px;
  max-height: 90%;
  cursor: pointer;
}

.nomePontos {
  padding: 5px; 
  font-size: 20px;
  font-family: 'roboto';
  margin-top: 10px;
  gap: 10px;
 
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  background-color: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.active {
  background-color: #E0F2FE;
  color: #1E40AF;
  font-weight: bold;
  border-radius: 3%;
}

.ladoDireito {
  width: 80%;
  position: relative; 
}

/* MAPA */
.mapa {
  width: 100%;
  height: 100%;
}

/* CARD DE HORÁRIOS */
.conteudoDireito{
  position: absolute;
  top: 20px;
  left: 20px;
  background: #F3F4F6;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  font-family: 'Roboto';
  overflow-y: auto;
  max-height: 95%;
  
}

.horarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Roboto';
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;

}

.linha {
  display: flex;
  align-items: center;
  gap: 5px; 
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  background: #e1e4e9;
}


.hora {
  background: #f3f4f6;
  padding: 8px 12px;
  border-radius: 6px;

}
.delete{
  margin-left: auto;
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.botoes{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.adicionar{
  margin-left: auto;
  background: #3b82f6;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.salvar{
background: #1E40AF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.rodape {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
