/* RESET básico */
body {
  margin: 0;
}

.fundo {
  width: 100%;
  background-image: url("../../assets/fundo.png");
  /* background-size: cover;
  background-position: center; */
}

/* HEADER FULL WIDTH */
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  background: #374151;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px; 
  align-items: center;
}

.container {
  width: 100%;
  padding: 5%;
  display: grid;
  gap: 2.9%;
}


.linha {
  background: #ffffff;
  padding: 1%;
  border-radius: 15px;
  color: black;
  
}


.tituloLinha {
  margin-bottom: 0.9%;
  color: #1E40AF;
}


.card {
  background: #f9f9f9;
  padding: 1%;
  border-radius: 2%;
  margin-bottom: 1%;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome {
  font-weight: bold;
  font-size: 20px;
}


.horarios {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 10px;
}

.hora {
  background: linear-gradient(135deg, #3B82F6, #1E40AF);
  color: #E0F2FE;
  padding: 10px 9px;
  border-radius: 6px; 
  font-size: 13px;
}

.button {
  background: linear-gradient(135deg, #3B82F6, #1E40AF);
  color: #E0F2FE;
  border: none;     
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

}   

.button:hover {
  background-color: #2563eb;
}

.titulinho{
  text-align: center;
  align-items: center;
  margin-left: 50px;
  font-size: 30px;
}